<header class="header-section">
    <nav>
        <div class="left-section">
            <div class="home">
                <a th:href="@{/}">
                    <img th:src="@{/Image Assets/Podcast_or_Radio_Logo-removebg-preview.png}" alt="Logo" class="logo">
                    <h3>Wombat.fm</h3>
                </a>
            </div>
            <div class="setlist-artist-event">
                <a th:href="@{/setlist}">Setlist</a>
                <a th:href="@{/artist}">Artist</a>
                <a th:href="@{/show/selectShow}">Show</a> 
            </div>
        </div>
        <div class="search-section">
            <div class="search-bar">
                <form th:action="@{/show/search}" method="get">
                    <input name="query" th:value="${query}" type="text" placeholder="What do you want to play?">
                    <button type="submit" class="search-bar-submit-button">
                        <img th:src="@{/Image Assets/icons8-search-50.png}" class="search-icon">
                    </button>
                </form>
            </div>
        </div>
        <div class="right-section">
            <a th:href="@{/setlist/add}" class="addSetlist">+Add Setlist</a>
            <a th:if="${session.username == null}" th:href="@{/login}" class="login">Log in</a>
            <a th:if="${session.username != null}" th:href="@{/logout}" class="logout">Log out</a>
        </div>
    </nav>
</header>
