<div th:fragment="pagination" class="pagination">
    <nav th:if="${userPageCount > 1}">
        <ul class="pagination-container">
            <li>
                <a th:href="@{/show/search(query=${query}, start_date=${startDate}, end_date=${endDate}, page=${currentPageForUser}-1)}" aria-label="Previous" 
                   th:class="${currentPageForUser} == 1 ? 'disabled' : null">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="i : ${#numbers.sequence(
                                T(java.lang.Math).max(1, currentPageForUser - 2), 
                                T(java.lang.Math).min(userPageCount, currentPageForUser + 2))}">
                <a th:href="@{/show/search(query=${query}, start_date=${startDate}, end_date=${endDate}, page=${i})}" 
                   th:text="${i}" 
                   th:class="${currentPageForUser} == ${i} ? 'active' : null"></a>
            </li>

            <li>
                <a th:href="@{/show/search(query=${query}, start_date=${startDate}, end_date=${endDate}, page=${currentPageForUser}+1)}" aria-label="Next" 
                   th:class="${currentPageForUser} == ${userPageCount} ? 'disabled' : null">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
