/* Scroll-Bar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #121212; 
}
   
::-webkit-scrollbar-thumb {
    background: #2a2a2a; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*Body*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
}

.top-artist{
    grid-area: "top";
}

.see-more{
    grid-area: "more";
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more > p{
    text-decoration: none;
    font-size: 2rem;
}

.searchButton{
    background-color: #333;
    padding: 0.5rem;
    border-radius: 2rem;
}   

.searchButton > img{
    width: 1.5rem;
    height: 1.5rem;
}

.search-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.icon-right img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


/*body-section*/
.body-section {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
}

.setlist-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #2a2a2a; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
}

.setlist-container h2 {
    font-size: 24px;
    color: #f1f1f1;
    border-bottom: 2px solid #444; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.setlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.setlist li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.setlist li:hover {
    background-color: #333;
}

.setlist .date {
    margin-right: 15px;
    text-align: center;
    color: #bbb;
    font-size: 14px;
}

.setlist .date .month {
    font-weight: bold;
    color: #f39c12;
}

.setlist .date .day {
    font-size: 18px;
    font-weight: bold;
}

.setlist .date .year {
    font-size: 12px;
}

.setlist .info {
    flex: 1;
}

.setlist .info .artist {
    color: #1db954;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.setlist .info .artist:hover {
    text-decoration: underline;
}

.setlist .info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #ddd;
}

.setlist-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.setlist-container h2 {
    font-size: 24px;
    color: #f1f1f1;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.setlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.setlist li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.setlist li:hover {
    background-color: #333;
}

.setlist .date {
    margin-right: 15px;
    text-align: center;
    color: #bbb;
    font-size: 14px;
}

.setlist .date .month {
    font-weight: bold;
    color: #f39c12;
}

.setlist .date .day {
    font-size: 18px;
    font-weight: bold;
}

.setlist .date .year {
    font-size: 12px;
}

.setlist .info {
    flex: 1;
}

.setlist .info .artist {
    color: #1db954;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.setlist .info .artist:hover {
    text-decoration: underline;
}

.setlist .info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #ddd;
}

/*Event Konser*/
.event-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #2a2a2a; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    margin-top: 20px;
}

.event-container h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

.event-container .setlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-container .setlist li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.event-container .setlist li:hover {
    background-color: #333;
    cursor: pointer;
}

.event-container .date {
    text-align: center;
    margin-right: 20px;
    color: #ff9800;
    font-size: 14px;
    width: 60px;
}

.event-container .date .month {
    font-size: 12px;
    font-weight: bold;
}

.event-container .date .day {
    font-size: 20px;
    font-weight: bold;
}

.event-container .date .year {
    font-size: 12px;
}

.event-container .info {
    flex: 1;
}

.event-container .artist {
    font-size: 16px;
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.event-container .artist:hover {
    text-decoration: underline;
}

.event-container .info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #bbb;
}


/*Artist*/
.artist-container{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    background-color: #2a2a2a; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    margin-bottom: 20px;
}

* {box-sizing: border-box}

.container {
    position: relative;
    width: 150px;
    max-width: 300px;
    height: 200px;
    padding-right: 5px;
    overflow: hidden;
}


.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.artist-container p{
    cursor: pointer;
}

.container:hover .overlay {
    opacity: 1;
}

.img-container{
    margin-left: auto;
    display: flex;
    overflow:auto;
}

footer .companydescription{
    margin-left: 100px;
    margin-right: 100px;
    color: grey;
    text-align: center;
}

footer a{
    color: grey;
}

footer p{
    color: grey;
    text-align: center;
}
footer hr{
    color: grey;
    opacity: 50%;
    margin-left: 40px;
    margin-right: 40px;
}
footer img{
    display: flex;
    margin-top: 25px;
    height: 81px;
    width: 81px;
    justify-self: center;
}

footer a img {
    height: 30px;
    width: 30px;
}

.footer-container{
    display: flex;
    color: grey;
}

.footer-container div{
    margin-left: 45px;
}


footer .socialmedia{
    
}

footer .socialmedia .image-container{
    display: flex;
    margin-top: -30px;
    margin-left: -5px;
}

footer .footer-container .information, .socialmedia{
    justify-self: right;
}

.information{
    padding-left: 160px;
}

.socialmedia{
    padding-left: 400px;
}

.address-container{
    display: flex;
    flex-direction: column;
}

.socialmedia{
    justify-self: right;
}

.table-user{
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}

th,td{
    color: white;
    padding: 1rem;
    border: 1px solid white;
}

table{
    color: white;
    border-collapse: collapse;
    margin-left: 3rem;
}

td.save{
    border: 0px;
}

.status-dropdown {
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: rgb(154, 151, 151);
}

select:hover{
    cursor: pointer;
}

option{
    font-weight: bold;
}

.svimg{
    width: 1.5rem;
    height: 1.5rem;
}

.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li, a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

ul{
    gap: 1rem;
}

li > a{
    background-color: gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

li > a:hover{
    background-color: rgb(81, 81, 81);
    cursor: pointer;
}

.search-username{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#userName{
    width: 25%;
    border-radius: 1rem;
    background-color: rgb(86, 86, 86);
    padding: 1rem;
    color: white;
}

button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: lightgreen;
}

button:hover{
    cursor: pointer;
    background-color: green;
}


