/* Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Body*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.top-artist {
  grid-area: "top";
}

.see-more {
  grid-area: "more";
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more > p {
  text-decoration: none;
  font-size: 2rem;
}

/*body-section*/
.body-section {
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
}

.setlist-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.setlist-container h2 {
  font-size: 24px;
  color: #f1f1f1;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.setlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.setlist li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
}

.setlist li:hover {
  background-color: #333;
}

.setlist .date {
  margin-right: 15px;
  text-align: center;
  color: #bbb;
  font-size: 14px;
}

.setlist .date .month {
  text-transform: uppercase;
  font-weight: bold;
  color: #f39c12;
}

.setlist .date .day {
  font-size: 18px;
  font-weight: bold;
}

.setlist .date .year {
  font-size: 12px;
}

.setlist .info {
  flex: 1;
}

.setlist .info .artist {
  color: #1db954;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.setlist .info .artist:hover {
  text-decoration: underline;
}

.setlist .info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ddd;
}

.setlist-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.setlist-container h2 {
  font-size: 24px;
  color: #f1f1f1;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.setlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.setlist li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
}

.setlist li:hover {
  background-color: #333;
}

.setlist .date {
  margin-right: 15px;
  text-align: center;
  color: #bbb;
  font-size: 14px;
}

.setlist .date .month {
  text-transform: uppercase;
  font-weight: bold;
  color: #f39c12;
}

.setlist .date .day {
  font-size: 18px;
  font-weight: bold;
}

.setlist .date .year {
  font-size: 12px;
}

.setlist .info {
  flex: 1;
}

.setlist .info .artist {
  color: #1db954;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.setlist .info .artist:hover {
  text-decoration: underline;
}

.setlist .info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ddd;
}

/*Event Konser*/
.show-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

.show-container h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

.show-container .setlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-container .setlist li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
}

.show-container .setlist li:hover {
  background-color: #333;
  cursor: pointer;
}

.show-container .date {
  text-align: center;
  margin-right: 20px;
  color: #ff9800;
  font-size: 14px;
  width: 60px;
}

.show-container .date .month {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.show-container .date .day {
  font-size: 20px;
  font-weight: bold;
}

.show-container .date .year {
  font-size: 12px;
}

.show-container .info {
  flex: 1;
}

.show-container .artist {
  font-size: 16px;
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.show-container .artist:hover {
  text-decoration: underline;
}

.show-container .info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #bbb;
}

/*Artist*/
.artist-container {
  display: flex;
  max-width: 810px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  height: 300px;
}

.container {
  position: relative;
  width: 120px;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 10px;

  text-align: center;
}

.artist-container p {
  cursor: pointer;
}
.artist-container .artist-link {
  color: white;
  text-decoration: none;
}
.artist-container .artist-link:hover {
  color: white;
  text-decoration: underline;
}

.container:hover .overlay {
  opacity: 1;
}

.img-container .splide__list {
  margin-left: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.img-container {
  width: 70%;
}
