body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.main-text{
    margin: 2rem;
}

.shows{
    background-color: rgb(105, 105, 105);
    box-shadow: rgb(62, 62, 62);
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem;
}