body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Scroll-Bar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #121212; 
}
   
::-webkit-scrollbar-thumb {
    background: #2a2a2a; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*Header Section*/
.header-section {
    display: grid;
    grid-template-areas: 
    "left search right";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.left-section {
    grid-area: "left";
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.left-section > a {
    text-decoration: none;
    color: whites;
}

.WombatFM{
    display: flex;
}

.left-section-more{
    padding-left: 2rem;
    display: flex;
    gap: 1.5rem;
}

.left-section-more > a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;
}

.left-section-more > a:hover{
    background-color: rgb(77, 77, 77);
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    overflow: hidden;
}

div p{
    margin-left: 100px;
    overflow: hidden;
}

div h3{
    overflow: hidden;
}

.search-section {
    grid-area: "search";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.see-more-container{
    display: grid;
    grid-template-areas: 
    "top"
    "more";
    grid-template-rows: 1fr 2fr;
}

.top-artist{
    grid-area: "top";
}

.see-more{
    grid-area: "more";
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more > p{
    text-decoration: none;
    font-size: 2rem;
}

.searchButton{
    background-color: #333;
    padding: 0.5rem;
    border-radius: 2rem;
}   

.searchButton > img{
    width: 1.5rem;
    height: 1.5rem;
}

.search-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    color: #888;
}

.search-bar > form{
    margin-bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input, .search-bar button{
    height: 100%;
}

.search-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.search-bar input {
    flex: none;
    width: 300px; 
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

.icon-right img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.right-section {
    grid-area: "right";
    display: flex;
    justify-content: end;
    align-items: center;
    overflow:unset;
    gap: 1rem;
}

.addSetlist {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.search-bar-submit-button {
    background-color: transparent;
    border: none;
}

.search-bar-submit-button:hover {
    cursor: pointer;
}

.login {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.login:hover {
    background-color: #ddd;
}

.addSetlist:hover {
    background-color: #ddd;
}

.setlist-artist-event{
    padding-left: 1rem;
    display: flex;
    width: 50%;
    gap: 1rem;
}

.setlist-artist-event > a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
}

.setlist-artist-event > a:hover{
    background-color: rgb(101, 101, 101);
    border-radius: 1rem;
}



.artist-name {
    padding: 20px;
    text-align: left;
}

.artist-name h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    padding: 20px;
    display: flex;
}

.container-show-info{
    display: flex;
    flex-wrap: wrap;
}

.show-info {
    width: 15%;
    background-color: #333;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 20px;
}

.container-show-info .show-info {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: default; 
}

.container-show-info .show-info:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
}


.show-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;    
    margin-top: 0;
}

.show-info p {
    margin: 5px 0;
}

.song-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 800px;
}

.song-list li {
    background: #282828;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.song-list li:hover {
    background: white;
    color: #121212;
}

.container{
    padding-left: 5rem;
}

.artist{
    padding: 2rem;
    font-weight: bold;
    background-color: #282828;
    border-radius: 1rem;
}

.eachArtist{
    margin-top: 1rem;
    background-color: #555555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    border-radius: 1rem;   
}

.eachArtist > a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;   
    box-sizing: border-box;
}

.eachArtist a:hover{
    background-color: #333;
}


.eachSong{
    margin-top: 1rem;
}

