<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Setlist</title>
  <link rel="stylesheet" th:href="@{/css/AddSetlist.css}">
  <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
  <header class="header">
    <a th:href="@{/}">
      <img id="logo" th:src="@{/Image Assets/Podcast_or_Radio_Logo-removebg-preview.png}">
    </a>
  </header>

  <div id="container">
    <main class="form-container">
      <div class="text-setlist">
        <h1>Add New Setlist</h1>
      </div>
      <form th:object="${setlistForm}" th:action="@{/setlist/add}" method="POST" class="setlist-form">
  
        <div class="form-group">
          <label for="show">Show</label>
          <div class="input-group">
            <input type="text" id="tempShowTitle" disabled>
            <input th:field="*{showId}" hidden th:value="*{showId}" type="text" id="show" name="show" placeholder="Search show" readonly required>
            <button type="button" class="search-button" id="search-show">Search</button>
          </div>
        </div>
  
        <div class="form-group">
          <label for="artist">Artist</label>
          <div class="input-group">
            <input type="text" id="tempArtistName" disabled>
            <input th:field="*{artistId}" hidden th:value="*{artistId}" type="text" id="artist" name="artist" placeholder="Search artist" readonly required>
            <button type="button" class="search-button" id="search-artist">Search</button>
          </div>
        </div>
  
        <div class="form-actions">
          <button type="submit" class="submit-button">Save Setlist</button>
          <a th:href="@{/}" class="reset-button">Cancel</a>
        </div>
      </form>
    </main>

    <div id="popup-modal-show" class="modal" style="display: none;">
      <div class="modal-content-show">
        <span class="close-modal-show">&times;</span>
        <h2>Select Show</h2>
        <input type="text" id="search-field-show" class="search-input" placeholder="Search...">
        <ul id="results-list" class="results-list" >
          <li class="option-show" th:each="show : ${shows}" th:text="${show.title}" th:value="${show.showId}"></li>
        </ul>
      </div>
    </div>

    <div id="popup-modal-artist" class="modal" style="display: none;">
      <div class="modal-content-artist">
        <span class="close-modal-artist">&times;</span>
        <h2>Select Artist</h2>
        <input type="text" id="search-field-artist" class="search-input" placeholder="Search...">
        <ul id="results-list" class="results-list">
          <li class="option-artist" th:each="artist : ${artists}" th:text="${artist.name}" th:value="${artist.artistId}"></li>
        </ul>
      </div>
    </div>
    
  </div>
  <footer>
    <img th:src="@{/Image Assets/Podcast_or_Radio_Logo-removebg-preview.png}" alt="">
    <p class="companydescription">Wombat.fm is a dynamic platform that connects music fans with setlists from concerts past and future. Dive into the live music experience by exploring the songs your favorite artists performed and stay in the loop for upcoming shows. Wombat.fm is where every concert memory comes alive and every future performance awaits!</p>
    <hr>

      <div class="footer-container">
        <div class="address-container">
          <h4>Address</h4>
          <span class="alamat">Jl. Ciumbuleuit No.94,Hegarmanah, </span>
          <span>Kec. Cidadap, Kota Bandung, Jawa Barat 40141</span>
          <span class="telepon">(022) 203 2655; (022) 204 2004</span>
        </div>

        <div class="information">
          <h4>Information</h4>
          <a href="">About Us</a>
        </div>

        <div class="socialmedia">
            <h4>Find us</h4>
            <div class="image-container">
                <a href="#"><img th:src="@{/Image Assets/icons8-instagram-32.png}" alt=""></a>
                <a href="#"><img th:src="@{/Image Assets/icons8-facebook-32 (1).png}" alt=""></a>
                <a href="#"><img th:src="@{/Image Assets/icons8-twitterx-32.png}" alt=""></a>
            </div>
          </div>
    </div>

      <p>© 2024 Property of Kelompok 2 Pemerograman Berbasis Web Kelas B</p>
    </footer>
</body>
</html>
