<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/AdminPage.css}" />
    <title>Wombat FM</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <script th:src="@{/js/admin.js}" defer></script>
    <style>
      /* #headerDiv {
        height: 15vh;
        display: flex;
        padding: 20px;
      } */
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  </head>
  <body>
    <div
      th:include="fragments/HeaderTailwind :: Header"
      id="headerDiv"
      class="p-5"
    ></div>

    <div class="chart-dashboard py-6 px-32">
      <h2 class="font-semibold text-3xl text-center">Review Chart</h2>
      <div class="h-96 bg-white flex p-6 gap-12 my-4 rounded-lg">
        <div class="">
          <canvas id="reviewChart" class="h-full w-full"></canvas>
        </div>
        <div class="flex flex-col gap-6">
          <label for="filterChart">Filter Chart By : </label>
          <select name="filterChart" id="filterChart" class="p-2">
            <option value="day">Day</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
          </select>
          <div class="bg-black w-full h-[1px]"></div>
          <button
            id="downloadBtn"
            class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-white hover:text-red-500 hover:border-red-500 border"
          >
            Download as PDF
          </button>
        </div>
      </div>
    </div>

    <div id="manage-user" class="my-6">
      <h2 class="text-3xl font-semibold text-center">Manage User</h2>
      <div class="page-number py-6">
        <th:block
          th:include="~{/fragments/pagination :: pagination}"
        ></th:block>
      </div>
      <div class="search-username">
        <input
          type="text"
          id="userName"
          name="userName"
          placeholder="Search Userame"
        />
      </div>
      <div class="table-user">
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Role</th>
              <th>Active Status</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${foundUsers}" id="user">
              <form method="POST" th:action="@{/saveUserRole}">
                <td>
                  <input
                    type="number"
                    th:value="${user.userId}"
                    th:text="${user.userId}"
                    name="uid"
                    hidden
                  />
                </td>
                <td class="contentUsername" th:text="${user.username}">B</td>
                <td>
                  <select name="user_role" class="p-1 rounded-lg">
                    <option
                      th:if="${user.role} == member"
                      value="member"
                      selected
                    >
                      Member
                    </option>
                    <option th:unless="${user.role} == admin" th:value="admin">
                      Admin
                    </option>

                    <option
                      th:if="${user.role} == admin"
                      value="admin"
                      selected
                    >
                      Admin
                    </option>
                    <option th:unless="${user.role} == member" value="member">
                      Member
                    </option>
                  </select>
                </td>
                <td>
                  <select name="user_activity" class="p-1 rounded-lg">
                    <option th:if="${user.isActive}" value="true" selected>
                      Active
                    </option>
                    <option th:unless="${user.isActive}" value="false" selected>
                      Not Active
                    </option>

                    <option th:if="${user.isActive}" value="false">
                      Not Active
                    </option>
                    <option th:unless="${user.isActive}" value="true">
                      Active
                    </option>
                  </select>
                </td>
                <td class="save">
                  <button
                    class="bg-[#1db954] flex items-center justify-center transition"
                  >
                    <img class="svimg" th:src="@{/Image Assets/diskette.png}" />
                  </button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer>
      <img
        th:src="@{/Image Assets/Podcast_or_Radio_Logo-removebg-preview.png}"
        alt=""
      />
      <p class="companydescription">
        Wombat.fm is a dynamic platform that connects music fans with setlists
        from concerts past and future. Dive into the live music experience by
        exploring the songs your favorite artists performed and stay in the loop
        for upcoming shows. Wombat.fm is where every concert memory comes alive
        and every future performance awaits!
      </p>
      <hr />

      <div class="footer-container">
        <div class="address-container">
          <h4>Address</h4>
          <span class="alamat">Jl. Ciumbuleuit No.94,Hegarmanah, </span>
          <span>Kec. Cidadap, Kota Bandung, Jawa Barat 40141</span>
          <span class="telepon">(022) 203 2655; (022) 204 2004</span>
        </div>

        <div class="information">
          <h4>Information</h4>
          <a href="#">About Us</a>
        </div>

        <div class="socialmedia">
          <h4>Find us</h4>
          <div class="image-container">
            <a href="#"
              ><img th:src="@{/Image Assets/icons8-instagram-32.png}" alt=""
            /></a>
            <a href="#"
              ><img th:src="@{/Image Assets/icons8-facebook-32 (1).png}" alt=""
            /></a>
            <a href="#"
              ><img th:src="@{/Image Assets/icons8-twitterx-32.png}" alt=""
            /></a>
          </div>
        </div>
      </div>

      <p>© 2024 Property of Kelompok 2 Pemerograman Berbasis Web Kelas B</p>
    </footer>

    <script th:inline="javascript">
      const canvas = document.getElementById("reviewChart");
      const filterChart = document.getElementById("filterChart");
      const downloadBtn = document.getElementById("downloadBtn");
      const reviewData = /*[[${reviews}]]*/ [];
      let frequency = {};
      let chart = null;
      // const page = /*[[${currentPageForUser}]]*/ -1;
      // console.log(page);

      function getFormattedDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = today.getMonth() + 1;
        const day = today.getDate();
        return `${year}_${month}_${day}`;
      }

      const generateChart = () => {
        console.log(Object.keys(frequency));
        if (chart) {
          chart.destroy();
        }
        // Chart
        chart = new Chart(canvas, {
          data: {
            labels: Object.keys(frequency),
            datasets: [
              {
                type: "bar",
                label: "# of Reviews",
                data: Object.values(frequency),
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      };

      filterChart.addEventListener("input", (e) => {
        frequency = {};

        if (filterChart.value === "day") {
          const today = new Date();
          const sevenDaysAgo = new Date();
          sevenDaysAgo.setDate(today.getDate() - 7);

          for (let i = 1; i <= 7; i++) {
            const date = new Date(sevenDaysAgo);
            date.setDate(sevenDaysAgo.getDate() + i);
            const dateString = date.toISOString().split("T")[0];
            frequency[dateString] = 0;
          }

          reviewData.forEach((review) => {
            if (frequency[review.createdAt] !== undefined) {
              frequency[review.createdAt]++;
            }
          });
        } else if (filterChart.value === "month") {
          const today = new Date();
          const sixMonthsAgo = new Date();
          sixMonthsAgo.setMonth(today.getMonth() - 6);

          for (let i = 1; i <= 6; i++) {
            const date = new Date(sixMonthsAgo);
            date.setMonth(sixMonthsAgo.getMonth() + i);
            const monthYear = `${date.getFullYear()}-${date.getMonth() + 1}`;
            frequency[monthYear] = 0;
          }

          reviewData.forEach((review) => {
            const reviewDate = new Date(review.createdAt);
            const monthYear = `${reviewDate.getFullYear()}-${
              reviewDate.getMonth() + 1
            }`;
            if (frequency[monthYear] !== undefined) {
              frequency[monthYear]++;
            }
          });
        } else if (filterChart.value === "year") {
          const today = new Date();
          const fiveYearsAgo = new Date();
          fiveYearsAgo.setFullYear(today.getFullYear() - 5);

          for (let i = 1; i <= 5; i++) {
            const date = new Date(fiveYearsAgo);
            date.setFullYear(fiveYearsAgo.getFullYear() + i);
            const year = date.getFullYear().toString();
            frequency[year] = 0;
          }

          reviewData.forEach((review) => {
            const reviewDate = new Date(review.createdAt);
            const year = reviewDate.getFullYear().toString();
            if (frequency[year] !== undefined) {
              frequency[year]++;
            }
          });
        }
        generateChart();
      });

      downloadBtn.addEventListener("click", (e) => {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        doc.setFontSize(18);
        doc.text("Review Chart Report", 20, 20);

        const imgData = canvas.toDataURL("image/png");

        doc.addImage(imgData, "PNG", 10, 30, 180, 90);

        doc.save(`reviews_${getFormattedDate()}.pdf`);
      });

      const today = new Date();
      const sevenDaysAgo = new Date();
      sevenDaysAgo.setDate(today.getDate() - 7);

      for (let i = 1; i <= 7; i++) {
        const date = new Date(sevenDaysAgo);
        date.setDate(sevenDaysAgo.getDate() + i);
        const dateString = date.toISOString().split("T")[0];
        frequency[dateString] = 0;
      }

      reviewData.forEach((review) => {
        if (frequency[review.createdAt] !== undefined) {
          frequency[review.createdAt]++;
        }
      });
      generateChart();
    </script>
  </body>
</html>
