<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/AdminPage.css}">
    <title>Wombat FM</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script th:src="@{/js/admin.js}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>

    <div class="chart-dashboard">
        <div>
            <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
            const ctx = document.getElementById('myChart');
        
        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
        </script>
          
    </div>

    <hr>
    <div class="search-username">
        <input type="text" id="userName" name="userName" placeholder="Search Userame">
    </div>
    <div class="page-number">
        <th:block th:include="~{/fragments/pagination :: pagination}"></th:block>
    </div>    
    <div class="table-user">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Active Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${foundUsers}" id="user">
                    <form method="POST" th:action="@{/saveUserRole}">
                        <td>
                            <input type="number" th:value="${user.userId}" th:text="${user.userId}" name="uid" hidden>
                        </td>
                        <td class="contentUsername" th:text="${user.username}">B</td>
                        <td>
                            <select name="user_role">
                                <option th:if="${user.role} == member" value="member" selected>Member</option>
                                <option th:unless="${user.role} == admin" th:value="admin">Admin</option>
                                
                                
                                <option th:if="${user.role} == admin" value="admin" selected>Admin</option>
                                <option th:unless="${user.role} == member" value="member">Member</option>
                            </select>
                        </td>
                        <td>
                            <select name="user_activity">
                                <option th:if="${user.isActive}" value="true" selected>Active</option>
                                <option th:unless="${user.isActive}" value="false" selected>Not Active</option>
                                
                                <option th:if="${user.isActive}" value="false">Not Active</option>
                                <option th:unless="${user.isActive}" value="true">Active</option>
                            </select>
                        </td>
                        <td class="save">
                            <button class="svButton">
                                <img class="svimg" th:src="@{/Image Assets/diskette.png}">
                            </button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
    
    <footer th:include="fragments/footer :: footer"></footer>   
</body>
</html>