<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <link rel="stylesheet" th:href="@{/css/ArtistPage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header"></div>
    
    <div class="artist-page">
        <div class="artist-header">
            <div class="artist-info">
                <div class="artist-image-container">
                    <img th:src="@{${artist.get().photoUrl}}" th:alt="${artist.get().name}">
                </div>
                <div class="artist-details">
                    <h1 th:text="${artist.get().name}">New Jeans</h1>
                </div>
            </div>
        </div>

        <!-- Content Section -->
        <div class="content-section">
            <!-- Setlist Popular -->
            <div class="setlist-container">
                <h2>Setlists</h2>
                <ul class="setlist">
                    <li>
                        <div class="date">
                            <span class="month" th:text="${show.getDateFormatted().split(' ')[1]}">NOV</span>
                            <span class="day" th:text="${show.getDateFormatted().split(' ')[0]}">23</span>
                            <span class="year" th:text="${show.getDateFormatted().split(' ')[2]}">2024</span>
                        </div>
                        <div class="info">
                            <a href="#" class="artist"><span>NewJeans</span>: <span>Lollapalooza</span></a>
                            <p>Grant Park, Chicago - AUG 01, 2024</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Upcoming Event
            <div class="event-container">
                <h2>Upcoming Events</h2>
                <ul class="setlist">
                    <li>
                        <div class="date">
                            <span class="month">DEC</span>
                            <span class="day">05</span>
                            <span class="year">2024</span>
                        </div>
                        <div class="info">
                            <a href="#" class="artist">NewJeans 2025 World Tour</a>
                            <p>Tokyo Dome, <span>Tokyo</span> - Jan 5, 2024</p>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
