<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Menu</title>
    <link rel="stylesheet" th:href="@{/css/Artist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>

    <div class="artist-menu">
        <form th:action="@{/artist/add}" method="get">
            <h2>Artists</h2>
            <button class="addartist">Add Artist</button>
        </form>
        <div class="artist-grid">

            <div class="artist-card" th:each="artists : ${artists}" href="/artist/page">
                <a th:href="@{/artist/{id}(id=${artists.artistId})}">
                    <img th:src="@{${artists.photoUrl}}" th:alt="${artists.name}">
                    <p class="artist-name" th:text="${artists.name}">Artist Name</p>
                </a>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
