<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Menu</title>
    <link rel="stylesheet" href="Artist.css">
</head>
<body>
    <header class="header-section">
        <div class="left-section">
            <img src="Image Assets/Podcast_or_Radio_Logo-removebg-preview.png" alt="Logo" class="logo">
            <h3>Wombat.fm</h3>
            <p>Setlist</p>
            <p>Artist</p>
            <p>Event</p>
        </div>
        <div class="search-section">
            <div class="search-bar">
                <img src="Image Assets/icons8-search-50.png" class="search-icon">
                <input type="text" placeholder="What do you want to play?">
            </div>
        </div>
        <div class="right-section">
            <a href="#" class="addSetlist">+Add Setlist</a>
            <a href="#" class="login">Log in</a>
        </div>
    </header>

    <div class="artist-menu">
        <h2>Artists</h2>
        <div class="artist-grid">

            <div class="artist-card">
                <img src="Image Assets/kanye west.webp" alt="Kanye West">
                <p class="artist-name">Kanye West</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/New_Jeans.width-500.format-webp.webp" alt="New Jeans">
                <p class="artist-name">New Jeans</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/aespa.jpg" alt="aespa">
                <p class="artist-name">aespa</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/michael buble.jpg" alt="Michael Buble">
                <p class="artist-name">Michael Buble</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/laufey.jpg" alt="Laufey">
                <p class="artist-name">Laufey</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/ed sheeran.webp" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/ed sheeran.webp" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img src="Image Assets/ed sheeran.webp" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>
        </div>
    </div>
</body>
</html>
