<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Menu</title>
    <link rel="stylesheet" th:href="@{/css/Artist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>

    <div class="artist-menu">
        <h2>Artists</h2>
        <div class="artist-grid">

            <div class="artist-card">
                <img th:src="@{/Image Assets/kanye west.webp}" alt="Kanye West">
                <p class="artist-name">Kanye West</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/New_Jeans.width-500.format-webp.webp}" alt="New Jeans">
                <p class="artist-name">New Jeans</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/aespa.jpg}" alt="aespa">
                <p class="artist-name">aespa</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/michael buble.jpg}" alt="Michael Buble">
                <p class="artist-name">Michael Buble</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/laufey.jpg}" alt="Laufey">
                <p class="artist-name">Laufey</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/ed sheeran.webp}" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/ed sheeran.webp}" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>

            <div class="artist-card">
                <img th:src="@{/Image Assets/ed sheeran.webp}" alt="Ed Sheeran">
                <p class="artist-name">Ed Sheeran</p>
                <p class="artist-role">Artist</p>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
