<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <link rel="stylesheet" th:href="@{/css/ArtistPage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header"></div>
    
    <div class="artist-page">
        <div class="artist-header">
            <div class="artist-info">
                <div class="artist-image-container">
                    <img th:src="@{${artistphoto}}" th:alt="${artistname}">
                </div>
                <div class="artist-details">
                    <h1 th:text="${artistname}">New Jeans</h1>
                </div>
            </div>
        </div>

        <!-- Content Section -->
        <div class="content-section">
            <!-- Setlist Popular -->
            <div class="setlist-container">
                <h2>Setlists</h2>
                <ul class="setlist" th:each="artistshows : ${artistshows}">
                    <li>
                        <div class="date">
                            <span class="month" th:text="${artistshows.getDateFormatted().split(' ')[1]}">NOV</span>
                            <span class="day" th:text="${artistshows.getDateFormatted().split(' ')[0]}">23</span>
                            <span class="year" th:text="${artistshows.getDateFormatted().split(' ')[2]}">2024</span>
                        </div>
                        <div class="info">
                            <a
                            th:href="'/setlist/' +${artistshows.getShowId()}"
                            class="artist"
                            th:text="${artistshows.getTitle()}"></a>
                            <p th:text="${artistshows.getVenue()} + ', ' + ${artistshows.getDateFormatted()} + ' - ' + ${artistshows.getStartTime().toString().substring(0,5)}" ></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
