<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Main.css}">
    <title>Document</title>
</head>
<body>
    <header class="header-section">
        <div class="left-section">
            <img src="Image Assets/Podcast_or_Radio_Logo-removebg-preview.png" alt="Logo" class="logo">
            <h3>Wombat.fm</h3>
            <a th:href="@{member/setlist}">Setlist</a>
            <a th:href="@{member/artist}">Artist</a>
            <a th:href="@{member/event}">Event</a> <!-- belum dibikin -->    
        </div>
        <div class="search-section">
            <div class="search-bar">
                <form th:action="{/search}" method="GET">
                    <input type="text" placeholder="What do you want to play?">
                    <button type="submit" class="search-bar-submit-button">
                        <img src="Image Assets/icons8-search-50.png" class="search-icon">
                    </button>
                </form>
            </div>
        </div>
        <div class="right-section">
            <a href="#" class="addSetlist">+Add Setlist</a>
            <a href="#" class="login">Log in</a>
        </div>
    </header>

    <div class="body-section">

        <div class="artist-container">
            <div>
                <h2>Top Artist</h2>
                <span>See More>></span>
            </div>
            <hr>
            <div class="img-container">
                <div class="container">
                    <img src="Image Assets/kanye west.webp" alt="Avatar" class="image">
                    <div class="overlay">Kanye West</div>
                </div>
                <div class="container">
                    <img src="Image Assets/New_Jeans.width-500.format-webp.webp" alt="Avatar" class="image">
                    <div class="overlay">New Jeans</div>
                </div>
                <div class="container">
                    <img src="Image Assets/ed sheeran.webp" alt="Avatar" class="image">
                    <div class="overlay">ed sheeran</div>
                </div>
                <div class="container">
                    <img src="Image Assets/aespa.jpg" alt="Avatar" class="image">
                    <div class="overlay">aespa</div>
                </div>
            </div>
        </div>

        <div class="setlist-container">
            <h2>Popular Setlists</h2>
            <ul class="setlist">
                <li>
                    <div class="date">
                        <span class="month">NOV</span>
                        <span class="day">23</span>
                        <span class="year">2024</span>
                    </div>
                    <div class="info">
                        <a href="#" class="artist">Young Lex</a>
                        <p>Jakarta International Stadium, Jakarta - Nov 23, 2024</p>
                    </div>
                </li>
                <li>
                    <div class="date">
                        <span class="month">NOV</span>
                        <span class="day">23</span>
                        <span class="year">2024</span>
                    </div>
                    <div class="info">
                        <a href="#" class="artist">Linkin Park</a>
                        <p> Gelora Bung Karno Madya Stadium, Jakarta - Nov 23, 2024</p>
                    </div>
                </li>
                <li>
                    <div class="date">
                        <span class="month">DEC</span>
                        <span class="day">02</span>
                        <span class="year">2016</span>
                    </div>
                    <div class="info">
                        <a href="#" class="artist">Habib Rizieq</a>
                        <p> Monumen Nasional, Jakarta - Nov 23, 2024</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="event-container">
            <h2>Upcoming Events</h2>
            <ul class="setlist">
                <li>
                    <div class="date">
                        <span class="month">DEC</span>
                        <span class="day">05</span>
                        <span class="year">2024</span>
                    </div>
                    <div class="info">
                        <a href="#" class="artist">Coldplay: Music of the Spheres</a>
                        <p>Gelora Bung Karno Main Stadium - Dec 5, 2024</p>
                    </div>
                </li>
                <li>
                    <div class="date">
                        <span class="month">DEC</span>
                        <span class="day">12</span>
                        <span class="year">2024</span>
                    </div>
                    <div class="info">
                        <a href="#" class="artist">Ed Sheeran: Mathematics Tour</a>
                        <p>Jakarta International Stadium, Jakarta - Dec 12, 2024</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <img src="Image Assets/Podcast_or_Radio_Logo-removebg-preview.png" alt="">
        <p class="companydescription">Wombat.fm is a dynamic platform that connects music fans with setlists from concerts past and future. Dive into the live music experience by exploring the songs your favorite artists performed and stay in the loop for upcoming shows. Wombat.fm is where every concert memory comes alive and every future performance awaits!</p>
        <hr>

        <div class="footer-container">
            <div class="address-container">
                <h4>Address</h4>
                <span class="alamat">Jl. Ciumbuleuit No.94,Hegarmanah, </span>
                <span>Kec. Cidadap, Kota Bandung, Jawa Barat 40141</span>
                <span class="telepon">(022) 203 2655; (022) 204 2004</p>
            </div>
    
            <div class="information">
                <h4>Information</h4>
                <a href="">About Us</a>
            </div>
    
            <div class="socialmedia">
                <h4>Find us</h4>
                <div class="image-container">
                    <a href="#"><img src="Image Assets/icons8-instagram-32.png" alt=""></a>
                    <a href="#"><img src="Image Assets/icons8-facebook-32 (1).png" alt=""></a>
                    <a href="#"><img src="Image Assets/icons8-twitterx-32.png" alt=""></a>
                </div>
              </div>
        </div>

          <p>© 2024 Property of Kelompok 2 Pemerograman Berbasis Web Kelas B</p>
    </footer>
    
</body>
</html>