<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Main.css}">
    <title>Wombat FM</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="body-section">
        <h1>
            Please login first
        </h1>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>