<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
        <div class="song-section">
            <h2>
                Artist list on show 
                <span th:text="${showName}"></span>
                at <span th:text="${showDate}"></span>
            </h2>
            <ol class="artist">
                <li class="eachArtist" th:each="artist  : ${artists}">
                    <a th:text="${artist.name}" th:href="@{/setlist/{id}?artist_id={artist}(id=${showId}, artist=${artist.artistId})}"></a>
                </li>
            </ol>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
