<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
      <div class="setlist-section">
        <h2>
          Song list for
          <span th:text="${artistName}"></span>
        </h2>
        <ol th:if="${setlist.songs.size() > 0}" class="song">
          <li class="eachSong" th:each="song : ${setlist.songs}">
            <span th:text="${song.getTitle()}"></span>
          </li>
        </ol>
        <div th:unless="${setlist.songs.size() > 0}" class="no-song">
          <h3>
            We don't have enough recent data about this artist to show an
            average setlist.
          </h3>
          <div>
            But you can still add the set times & let everyone know you'll be
            there!
          </div>
          <div>
            If you know the scheduled start time for this artist or the time the
            venue's doors open, you could add set times.
          </div>
          <div>
            Otherwise, just check back later to view, add or edit the setlist.
          </div>
        </div>

        <div class="edit-setlist">
          <a
            th:if="${session.username != null}"
            th:href="@{/setlist/edit?show_id={showId}&artist_id={artistId}(showId=${showId}, artistId=${artistId})}"
          >
            <span>Edit Setlist</span>
          </a>
          <a th:unless="${session.username != null}" th:href="@{/login}">
            <span>Edit Setlist</span>
          </a>
        </div>

            <div class="add-comment">
                <form
                    action="#"
                    method="post"
                    th:action="@{/setlist/{showId}(showId=${showId}, artist_id=${artistId})}"
                    th:object="${review}"
                    >
                    <div th:if="${#fields.hasGlobalErrors()}" class="error">
                        <p th:text="${#fields.globalErrors()[0]}"></p>
                    </div>

                    <div>
                        <input
                        type="number"
                        id="setlistId"
                        name="setlistId"
                        th:value="${setlist.getSetlistId()}"
                        th:field="*{setlistId}"
                        hidden
                        />
                        <input
                        type="number"
                        id="userId"
                        name="userId"
                        th:field="*{userId}"
                        hidden
                        />
                    </div>

                    <div>
                        <label for="comment">Comment:</label>
                        <input
                        type="text"
                        id="comment"
                        name="comment"
                        th:field="*{comment}"
                        placeholder="Comment"
                        />
                        <div
                        th:if="${#fields.hasErrors('comment')}"
                        th:errors="*{comment}"
                        ></div>
                    </div>
                    <button type="submit">Add Review</button>
                </form>
            </div>
        </div>
        <div class="comment-section">
            <div class="comment">
                <h4>Recent Comments:</h4>
                <ul id="commentsList">
                    <li id="eachComment" th:each="review, iterStat : ${reviews}"  
                        th:classappend="${iterStat.index > 4} ? 'hidden' : ''">
                        <span id="username" th:text="${review.username}"></span>: 
                        <span th:text="${review.comment}"></span><br>
                        <span th:if="${review.getSongs().size()>0}">Changed songs:</span> 
                        <ul th:each="song : ${review.getSongs()}">
                            <li th:text="${song.getTitle()}">
                            </li>
                        </ul>
                        <hr>
                    </li>
                </ul>
                <span id="seeMoreComments" class="seeMoreComments">See More</span>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>

    <script>
      document
        .getElementById("seeMoreComments")
        .addEventListener("click", function () {
          const hiddenComments = document.querySelectorAll(
            "#commentsList .hidden"
          );
          hiddenComments.forEach((comment) =>
            comment.classList.remove("hidden")
          );

          this.style.display = "none";
        });
    </script>
  </body>
</html>
