<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
        <div class="setlist-section">
            <h2>
                Song list for 
                <span th:text="${artistName}"></span>
            </h2>
            <ol class="song">
                <li class="eachSong" th:each="song : ${setlist.songs}">
                    <span th:text="${song.getTitle()}"></span>
                </li>
            </ol>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
