<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}">
</head>
<body>
    <header class="header-section">
        <div class="left-section">
            <img src="Image Assets/Podcast_or_Radio_Logo-removebg-preview.png" alt="Logo" class="logo">
            <h3>Wombat.fm</h3>
            <p>Setlist</p>
            <p>Artist</p>
            <p>Event</p>
        </div>
        <div class="search-section">
            <div class="search-bar">
                <img src="Image Assets/icons8-search-50.png" class="search-icon">
                <input type="text" placeholder="What do you want to play?">
            </div>
        </div>
        <div class="right-section">
            <a href="#" class="addSetlist">+Add Setlist</a>
            <a href="#" class="login">Log in</a>
        </div>
    </header>


    <div class="container">
        <div class="song-section">
            <h2>NewJeans World Tour</h2>
            <h2>Song List</h2>
            <ul class="song-list">
                <li>1. Attention</li>
                <li>2. Super Shy</li>
                <li>3. ETA</li>
                <li>4. OMG</li>
                <li>5. Ditto</li>
                <li>6. Hype Boy</li>
            </ul>
        </div>
        <div class="setlist-info">
            <h2>Concert Details</h2>
            <p><strong>Location:</strong> Tokyo Dome, Japan</p>
            <p><strong>Date:</strong> January 5, 2024</p>
        </div>
    </div>
</body>
</html>
