<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
        <div class="container-show-info">
          <form th:action="@{/show/add}" method="get">
            <h2>Shows</h2>
            <button class="addshow">Add Show</button>
        </form>
            <div class="show-info" th:each="show : ${allShow}">
                <center><h2 th:text="${show.title}"></h2></center>
                <p><strong>Location:</strong> <span th:text="${show.venue}"><span></p>
                <p><strong>Date:</strong> <span th:text="${show.showDate}"><span></p>
                <p><strong>Duration:</strong> <span th:text="${show.duration} + ' minutes'"><span></p>
                <p><strong>Start Time:</strong> <span th:text="${show.startTime}"><span></p>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
