<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
        <div class="container-setlist-info">
            <div class="setlist-info" th:each="setlist : ${topTenSetlists}">
                <center><h2>Setlist Details</h2></center>
                <p><strong>Location:</strong> <span th:text="${setlist.show.venue}"><span></p>
                <p><strong>Date:</strong> <span th:text="${setlist.show.showDate}"><span></p>
                <p><strong>Duration:</strong> <span th:text="${setlist.show.duration} + ' minutes'"><span></p>
                <p><strong>Start Time:</strong> <span th:text="${setlist.show.startTime}"><span></p>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
