<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setlist Page</title>
    <link rel="stylesheet" th:href="@{/css/Setlist.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <div th:include="fragments/Header :: Header" id="headerDiv"></div>
    <div class="container">
      <div class="container-setlist-info">
        <h2>Setlist Details</h2>

        <div class="setlist-info" th:each="setlist : ${topTenSetlists}">
          <a
            th:href="'/setlist/' +${setlist.getShow().getShowId()} + '?artist_id=' + ${setlist.getArtist().getArtistId()}"
          >
            <h2 th:text="${setlist.artist.name}"></h2>
            <h3>Show Title:<span th:text="${setlist.show.title}"></span></h3>
          </a>
        </div>
      </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
